<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Monitor - Health Check</title>
</head>
<style type="text/css">
    body  {
        min-height:100%;
        background-blend-mode: overlay;
        background-image: url("/static/stylesheets/private_healthcare.0.webp");
        background-size:cover;
    }

    .welcome {
        font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
        font-size: 3rem;
        color: aliceblue;
    }

    .center {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center
    }​
</style>
<body>
<div class="welcome center">{{.WelcomeNote}}</div>
</body>
</html>