<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:top;width: 200px}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;width: 100px}
    .tg .tg-1pky{border-color:inherit;text-align:left;vertical-align:top}
    .th {border-collapse:collapse;border-spacing:0;}
</style>
<body>
<table class="tg">
    <tr>
        <th class="tg-lboi" rowspan="4"><img src="{{.ImageUrl}}" width="300" /></th>
        <th class="tg-0pky">Name</th>
        <th class="tg-1pky">{{.ProductName}}</th>
    </tr>
    <tr>
        <td class="tg-0pky">Description</td>
        <td class="tg-1pky">{{.ProductDesc}}</td>
    </tr>
    <tr>
        <td class="tg-0pky">Current Price</td>
        <td class="tg-1pky">{{.ProductPrice}}</td>
    </tr>
    <tr>
        <td class="tg-0pky">Price History</td>
        <td class="tg-1pky">
            <table class="th"></table>
    </tr>
</table>
            <script>
                productTable = document.querySelector(".th");
                let id, product_name, product_desc, product_price, product_page_link, action;

                i = 1;
                fetch("/price-monitor/price-history?id={{.ID}}")
                    .then(response => response.json())
                    .then(productList => {
                        //Once we fetch the list, we iterate over it
                        productList.forEach(product => {
                            // Create the table row
                            row = document.createElement("tr");

                            // Create the table data elements for the species and
                            // description columns
                            product_name = document.createElement("td");
                            product_name.innerHTML = product.created_at;
                            product_desc = document.createElement("td");
                            product_desc.innerHTML = product.product_price;

                            // Add the data elements to the row
                            row.appendChild(product_name);
                            row.appendChild(product_desc);
                            // Finally, add the row element to the table itself
                            productTable.appendChild(row);
                            i++;
                        })
                    });
            </script>
</body>
</html>