<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Monitor - Product List</title>
</head>
<style type="text/css">
    body  {
        min-height:100%;
        background-blend-mode: overlay;
        background-size:cover;
    }
</style>
<body>
<p style="color: #ff0000;"><strong>{{.Msg}}</strong></p>
<a href="/price-monitor">[ADD NEW LINK]</a>
<table border="1">
    <tr>
        <th width="20">No</th>
        <th width="200">Product Name</th>
        <th width="300">Description</th>
        <th width="100">Current Price</th>
        <th width="300">Product Page Link</th>
        <th width="100"></th>
    </tr>
</table>

<script>
    productTable = document.querySelector("table");
    let id, product_name, product_desc, product_price, product_page_link, action;

    i = 1;
    fetch("/price-monitor/products")
        .then(response => response.json())
        .then(productList => {
            //Once we fetch the list, we iterate over it
            productList.forEach(product => {
                // Create the table row
                row = document.createElement("tr");

                // Create the table data elements for the species and
                // description columns
                id = document.createElement("td");
                id.innerHTML = product.id;
                product_name = document.createElement("td");
                product_name.innerHTML = product.product_name;
                product_desc = document.createElement("td");
                product_desc.innerHTML = product.product_desc;
                product_price = document.createElement("td");
                product_price.innerHTML = product.product_price;
                product_page_link = document.createElement("td");
                product_page_link.innerHTML = product.product_url;
                action = document.createElement("td");
                action.innerHTML = "<a href='/price-monitor/product-detail?id=" + product.id + "'>[View Detail]</a>";

                // Add the data elements to the row
                row.appendChild(id);
                row.appendChild(product_name);
                row.appendChild(product_desc);
                row.appendChild(product_price);
                row.appendChild(product_page_link);
                row.appendChild(action);
                // Finally, add the row element to the table itself
                productTable.appendChild(row);
                i++;
            })
        });
</script>
</body>
</html>